__pycache__/
*.py[cod]
*$py.class


data/asher/images
data/asher/labels

data/coco128

data/tarball/images
data/tarball/labels

data/tarball-seg/images
data/tarball-seg/labels

data/tarball-seg256/images
data/tarball-seg256/labels

data/coco128-seg

data/tbc
runs/*
backup
*.pt
